<div class='page'>
    <div class='page_content'>
        <header class='header'>
            <div class='header_logo'>
                <span class='badge text-bg-primary'>L</span>
            </div>
            <div class='header_nav'>
                Nav
            </div>
        </header>
        {{!-- {{> divider}} --}}
    </div>
</div>