.page {
    background: #fff;
}

.page_content {
    max-width: 960px;
    margin: 0 auto;
}

.header {
    padding: 24px;
}

.logo {
    font-size: 17px;
}

.divider {
    margin: 0 auto;
    max-width: 960px;
    height: 1px;
    background: #dee2e6;
}

.nav {
    display: block;
}

.nav_link {
    color: #343a40;
    font-style: 16px;
    text-decoration: none;
}

.nav_link:hover {
    text-decoration: underline;
    color: blueviolet;
}

.nav_vertical > .nav_link {
    display: block;
}

.nav_inline > .nav_link:not(:last-child) {
    margin-right: 24px;
}

.nav_vertical > .nav_link:not(:last-child) {
    margin-bottom: 12px;
}

.header_nav_right {
    margin-left: auto;
    width: fit-content;
}

.page_block:not(:last-of-type) {
    margin-bottom: 80px;
}

.footer {
    padding: 24px;
}
